<% include header %>
	<div class="container main-body">
		<div class="row">
			<div class="col-lg-9 col-md-9 left-list">
				<div class="main-content">
					<div class="panel panel-default">
						<div class="panel-heading"><%=category.name%></div>
						  <table class="table">
						  	<tr>
						  		<th>文章名称</th>
						  		<th>作者</th>
						  		<th>管理</th>
						  	</tr>
						  	<%category.article.forEach(function(item,value){%>
						  		<tr>
						  			<td><a href="/article/details/<%=item._id%>"><%=item.title%></a></td>
						  			<td><%=item.author.user%></td>
						  			<td><a href="/article/delete/<%=item._id%>?category=<%=category._id%>&author=<%=item.author._id%>">删除</a></td>
						  		</tr>
						  		<%})%>
						  </table>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<% include right%>
			</div>
		</div>
	</div>
<% include footer %>
